body {
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    background-size: cover;
    background-position: center;
    transition: filter 0.3s ease;
    /* Adicionando transição suave */
}

.container:nth-child(1) {
    background-image: url(/imgs/jogo1.png);
}

.container:nth-child(2) {
    background-image: url(/imgs/jogo2.png);
}

.link-container {
    display: flex;
    width: 100%;
}

.container:hover {
    filter: brightness(0.8);
    /* Escurece a imagem em 80% */
}